workflow-examples/funnels-bot-template.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        352
      ],
      "id": "d161f122-177d-4a5b-a12a-8948e55871bc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -320,
        192
      ],
      "id": "5664c975-c8b2-43e5-b625-c63c916422b3",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "NeEDdqAYM2TdrqKY",
          "name": "Ollama account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        272,
        352
      ],
      "id": "bc7b6fd8-bbf9-4087-a3b5-88c81fb4f735",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "o6sNPCtiHfQkdyMs",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        192
      ],
      "id": "a68e2af4-c98b-4233-9b7d-c9759ee4581d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        -16
      ],
      "id": "de72b9b6-6e44-49d4-b6af-986ab23e861d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        0
      ],
      "id": "2b5653cf-8038-4036-8fef-7c1f177ecc7b",
      "name": "When chat message received",
      "webhookId": "aad19426-9d72-4cd3-a49c-2999c1a73d4a"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "funnels",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        752,
        192
      ],
      "id": "9ce907bf-52dc-4efa-84c4-ad2d8aecaa90",
      "name": "Загрузить данные о воронках в базу руками",
      "credentials": {
        "postgres": {
          "id": "lrHMf1lX0DQaI1Dx",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "dada",
        "tableName": "funnels",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        160,
        192
      ],
      "id": "f106a2f9-a6bb-43ba-9831-8f18a92798ef",
      "name": "Подобрать тип воронки",
      "credentials": {
        "postgres": {
          "id": "hcNb0zCTf0vODiX8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Loaded",
        "completionMessage": "Loaded funnel info",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        432,
        192
      ],
      "id": "54c17193-d2c4-4db4-9a02-9adee07dfe04",
      "name": "Форма добавления воронки в базу",
      "webhookId": "f46b6e49-2ef5-41a2-bcbe-bffbeded00f6"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const inputItem of $input.all()) {\n  const rawText = inputItem.json.description || \"\";\n  \n  let parsed;\n  try {\n    parsed = JSON.JSON\n  } catch (e) {\n    throw new Error(\"Can't parse input as valid JSON: \" + e.message);\n  }\n  \n  // Добавляем все пары ключ-значение в результат\n  Object.entries(parsed).forEach(([key, value]) => {\n    results.push({\n      json: {\n        key: key,\n        value: value\n      }\n    });\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        192
      ],
      "id": "efb1f886-f1ff-404a-b729-a6448e234634",
      "name": "Парсер"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Загрузить данные о воронках в базу руками",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Загрузить данные о воронках в базу руками",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Подобрать тип воронки",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подобрать тип воронки": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Форма добавления воронки в базу": {
      "main": [
        [
          {
            "node": "Парсер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсер": {
      "main": [
        [
          {
            "node": "Загрузить данные о воронках в базу руками",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a0bb654e-d0aa-47f9-98ce-c9d8c1f22cef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3006a5d6772217f5ebf10e103499012896c18b16962721572449c979edef3060"
  },
  "id": "MA1Mqo2jo8bIOaDy",
  "tags": []
}
