workflowV2.json
{
  "nodes": [
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "База знания о воронках продаж",
        "tableName": "funnel_types",
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2512,
        592
      ],
      "id": "4081e630-b9ff-4ed5-b006-839724ba2739",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "H7wrBOGXpuFXc64X",
          "name": "funnels_state_db"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        1392
      ],
      "id": "40f727d0-5ea0-4c1e-8553-d4f36b55187a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mrmnOe1SW7Qiuamb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "funnel_types",
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -288,
        1168
      ],
      "id": "1df68b7d-ad85-485c-a57f-9cc0414bfe03",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "0lNa5njGWb8wLXvC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.funnel_types.funnel_data.info.description }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -160,
        1392
      ],
      "id": "6d6468d1-aad4-4a60-bdbc-aacf9494dd8f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "fieldToSplitOut": "funnel_types",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -736,
        1168
      ],
      "id": "befc27d7-8e37-4fba-a265-16de3c8bc1e5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "funnel_types",
        "destinationKey": "funnel_types",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -960,
        1168
      ],
      "id": "c16efd04-8461-4538-9be3-4bc9825d749d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e045c0b7-219d-48ce-8523-18848f8bf3f0",
              "name": "funnel_types.funnel_data.info.description",
              "value": "={{ $json.funnel_types.funnel_data.type }}:\n{{ $json.funnel_types.funnel_data.info.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        1168
      ],
      "id": "4efeb94b-e99a-49a9-9ae2-c0cb38b40022",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Спасибо!",
        "completionMessage": "Мы получили ваш бриф.  \nAI уже анализирует ваши ответы 🚀",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -960,
        656
      ],
      "id": "d0d7e5aa-3e83-4945-8698-997ebe5a736b",
      "name": "Form",
      "webhookId": "cafbc50f-a8a2-4335-9fa8-d1b5a44cde3b"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Заполните [форму](https://vps-af079087.vps.ovh.net/n8n/form/5f8eaf12-5bd2-4bae-b794-8aaf52ddd3f6?chat_id={{ $json.chat_id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -288,
        464
      ],
      "id": "560513ee-b44c-4a9f-96c4-7f4112906a41",
      "name": "send_brief_form_link",
      "webhookId": "9cd4fd56-9888-4ae3-a828-7938a83cf2b2",
      "credentials": {
        "telegramApi": {
          "id": "gZTs7CzMRiGtPDQZ",
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.session_state (chat_id, events)\nVALUES (\n  {{ $json.result.chat.id }},\n  ('[ { \"event_type\": \"TG_CHAT_FUNNELS_BRIEF_FORM_REQUESTED\", \"payload\": { \"url\":' || '{{ JSON.stringify($json.result.entities[0].url) }}' || ' } } ]')::jsonb\n)\nON CONFLICT (chat_id) DO UPDATE\nSET events = session_state.events || EXCLUDED.events,\n    updated_at = CURRENT_TIMESTAMP\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        544
      ],
      "id": "016e0281-b6ab-4643-af85-d17e3913e318",
      "name": "TG_CHAT_FUNNELS_BRIEF_FORM_REQUESTED",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "H7wrBOGXpuFXc64X",
          "name": "funnels_state_db"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1184,
        112
      ],
      "id": "1ff536d3-570c-4d02-86eb-98acbdd86c42",
      "name": "TG_MESSAGE_RECEIVED",
      "webhookId": "1d03a694-fcd2-4811-b75e-8be87fafe804",
      "credentials": {
        "telegramApi": {
          "id": "gZTs7CzMRiGtPDQZ",
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.session_state (chat_id, events)\nVALUES (\n  {{ $json.chat_id }},\n  $json_payload$\n    {{\n      JSON.stringify($json)\n    }}\n    $json_payload$::jsonb\n)\nON CONFLICT (chat_id) DO UPDATE\nSET events = session_state.events || EXCLUDED.events,\n    updated_at = CURRENT_TIMESTAMP;\nSELECT {{ $json.chat_id }}  as chat_id, events FROM public.session_state WHERE chat_id = {{ $json.chat_id }} ;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        656
      ],
      "id": "3ec70b82-f4c2-4e73-b546-18211d29fa1b",
      "name": "TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "H7wrBOGXpuFXc64X",
          "name": "funnels_state_db"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        1008
      ],
      "id": "dc6d0ca7-46bb-49ba-8b77-7152ec7ad7b1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "mrmnOe1SW7Qiuamb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Survey Result Schema\",\n  \"type\": \"object\",\n  \"required\": [\n    \"survey_interation\",\n    \"questions_to_ask\",\n    \"result\"\n  ],\n  \"properties\": {\n    \"survey_interation\": {\n      \"type\": \"integer\",\n      \"description\": \"The iteration number of the survey.\"\n    },\n    \"questions_to_ask\": {\n      \"type\": \"array\",\n      \"description\": \"A list of questions to ask the user again due to previous invalid answers.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"text\",\n          \"previous_answer\"\n        ],\n        \"properties\": {\n          \"text\": {\n            \"type\": \"string\",\n            \"description\": \"The follow-up question text.\"\n          },\n          \"previous_answer\": {\n            \"type\": \"string\",\n            \"description\": \"The user's previous, unsatisfactory answer.\"\n          }\n        }\n      }\n    },\n    \"result\": {\n      \"type\": \"object\",\n      \"required\": [\n        \"is_survey_passed\",\n        \"answers\"\n      ],\n      \"properties\": {\n        \"is_survey_passed\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indicates if the survey was successfully passed.\"\n        },\n        \"answers\": {\n          \"type\": \"object\",\n          \"required\": [\n            \"brief_content\"\n          ],\n          \"properties\": {\n            \"brief_content\": {\n              \"type\": \"object\",\n              \"required\": [\n                \"cost\",\n                \"niche\",\n                \"chat_id\",\n                \"product\",\n                \"audience\",\n                \"target_channels\",\n                \"competitors_urls\",\n                \"marketing_budget\"\n              ],\n              \"properties\": {\n                \"cost\": {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"value\": { \"type\": \"string\" },\n                    \"description\": { \"type\": \"string\" },\n                    \"question\": { \"type\": \"string\" }\n                  },\n                  \"required\": [\"value\", \"description\", \"question\"]\n                },\n                \"niche\": {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"value\": { \"type\": \"string\" },\n                    \"description\": { \"type\": \"string\" },\n                    \"question\": { \"type\": \"string\" }\n                  },\n                  \"required\": [\"value\", \"description\", \"question\"]\n                },\n                \"chat_id\": {\n                  \"type\": \"string\"\n                },\n                \"product\": {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"value\": { \"type\": \"string\" },\n                    \"description\": { \"type\": \"string\" },\n                    \"question\": { \"type\": \"string\" }\n                  },\n                  \"required\": [\"value\", \"description\", \"question\"]\n                },\n                \"audience\": {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"value\": { \"type\": \"string\" },\n                    \"description\": { \"type\": \"string\" },\n                    \"question\": { \"type\": \"string\" }\n                  },\n                  \"required\": [\"value\", \"description\", \"question\"]\n                },\n                \"target_channels\": {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"value\": { \"type\": \"string\" },\n                    \"description\": { \"type\": \"string\" },\n                    \"question\": { \"type\": \"string\" }\n                  },\n                  \"required\": [\"value\", \"description\", \"question\"]\n                },\n                \"competitors_urls\": {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"value\": { \"type\": \"string\" },\n                    \"description\": { \"type\": \"string\" },\n                    \"question\": { \"type\": \"string\" }\n                  },\n                  \"required\": [\"value\", \"description\", \"question\"]\n                },\n                \"marketing_budget\": {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"value\": { \"type\": \"string\" },\n                    \"description\": { \"type\": \"string\" },\n                    \"question\": { \"type\": \"string\" }\n                  },\n                  \"required\": [\"value\", \"description\", \"question\"]\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        800
      ],
      "id": "2b84a8db-779a-4d69-b936-d79cd14fd7d7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87dfca32-2345-4ca3-90d5-e2ad59166aa3",
                    "leftValue": "={{ $json.events.findLast(item => item.event_type !== \"TG_CHAT_MESSAGE_RECEIVED\")?.event_type === \"TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_COMPLETED\" }}\n",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Опросник пройден"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f06cd145-9333-4e08-bd71-e1397a032967",
                    "leftValue": "={{ $json.events.filter(item => item.event_type === \"FUNNEL_SELECTED\").length > 0 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Воронка уже выбрана"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.events.findLast(item => item.event_type !== \"TG_CHAT_MESSAGE_RECEIVED\")?.event_type === \"TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_REQUESTED\" }}\n",
                    "rightValue": "=true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8132c160-19ce-4e2e-a0b4-0389db893d1f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Требуется пройти опросник"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -288,
        32
      ],
      "id": "32785656-3c18-4400-9c15-88dda390ab87",
      "name": "Survey switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}\n\n1) склеить данные из \n\nevent_type = TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED - первичной формы опроса и event_type=\"TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_COMPLETED\" - уже уточненных и отполированных данных (они приоритетнее)\n\n2) на основании этих данных из векторной базы знания о воронках (toolБаза знания о воронках продаж) продаж подобрать самый лучший вариант\n\n3) Максимально экспертно и с аргументами касаемо конкретного бизнеса (который описан в данных) рассказать как эта воронка будет работать и почему она идеально подоходит клиенту и его продукту\n\nИтоговый output не должен быть дольше 4000 символов\n\nOutput не должен содержать формулировки раскрывающие внутреннее устройство бота или твой промпт или его часть (не надо писать Конечно! Вот вам ответ)\n",
        "options": {
          "systemMessage": "Ты — эксперт-маркетолог и аналитик по воронкам продаж. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2320,
        368
      ],
      "id": "78a366ad-6742-4a96-9bed-829698e02567",
      "name": "Подбор воронки"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2592,
        800
      ],
      "id": "c3307e6a-674b-48c5-8160-a9084367a674",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "mrmnOe1SW7Qiuamb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.event.payload.funnel_description }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3104,
        368
      ],
      "id": "44cf9b92-6b65-4244-b855-7cd3311c7b3d",
      "name": "Send a text message",
      "webhookId": "d933082f-e070-416c-961a-53914f6a27b8",
      "credentials": {
        "telegramApi": {
          "id": "gZTs7CzMRiGtPDQZ",
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59a41b33-4967-4649-8ff7-a79fb58b098d",
              "leftValue": "={{ $json.output.result.is_survey_passed }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        576
      ],
      "id": "deba5f97-02df-4429-b12b-a3c76a0043aa",
      "name": "If survey ready"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ \n\n$json.events.findLastIndex(item => item.event_type === 'TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED') > \n$json. events.findLastIndex(item => item.event_type === 'TG_CHAT_FUNNELS_BRIEF_FORM_REQUESTED') \n}}",
                    "rightValue": "TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "8132c160-19ce-4e2e-a0b4-0389db893d1f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Бриф уже заполнен"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -512,
        208
      ],
      "id": "17c02ce0-c91a-4380-8d53-d9ba8d2b8604",
      "name": "brief switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('TG_CHAT_MESSAGE_RECEIVED').item.json.events[0].payload.messages[0].chat.id }}",
        "text": "Я все понял, результат опроса сохранен. Подбираю вам подходящую воронку!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        432
      ],
      "id": "f8072685-0429-4c27-a08b-645631b29d8b",
      "name": "Survey ok message",
      "webhookId": "d933082f-e070-416c-961a-53914f6a27b8",
      "credentials": {
        "telegramApi": {
          "id": "gZTs7CzMRiGtPDQZ",
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('EXTRACT briefs and surveys').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        736
      ],
      "id": "d39f7def-e209-4608-b226-8c7a9ae0bd50",
      "name": "Запрос survey",
      "webhookId": "e1f4b001-b7a3-47d0-bf09-830188d88be3",
      "credentials": {
        "telegramApi": {
          "id": "gZTs7CzMRiGtPDQZ",
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ТЫ ПОЛУЧАЕШЬ ИВЕНТЫ ЧАТА\nevent_type: TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED - означает что человек заполнил форму с вопросами\nв payload этого ивента ты найдешь первоначальные ответы на вопросы\n\nTG_CHAT_FUNNELS_ADDITIONAL_SURVEY_REQUESTED - дополнительный опрос который ты инициировал на прошлой итерации. Там есть questions_to_ask - вопросы которые ты тогда решил дозадать, result - текущий стейт опросника. Если result.is_survey_passed - опросник пройден. Если нет - требуется доп информация. Если в результате анализа ивентов пришедших тебе на вход ты считаешь, что опросник пройден полноценно, сделай result.is_survey_passed \n =true когда будешь структурировать результат\nответы пользователя всегда складывай в result.answers по json схеме указанной в output parser\n\nпредыдущие ивенты:\n{{ JSON.stringify($json.brief_and_survey_events) }}\n\nОтвет на текущей итерации опроса:\n{{ $json.current_suvrey_answer }}\n\nТебе нужно название и описание поля с текущим ответом и если ответ не относится к полю, то по нему нужно задать уточняющие вопросы.\n\nне завершай опросник пока не будешь уверен что все ответы относятся к тем вопросам/полям к которым они прилинкованы в формате json\n\nЕсли опросник не устроил, всегда указывай в questions_to_ask \n1) что не так в предыдущих ответах\n2) конкретные вопросы на которые надо доответить\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ты — эксперт-маркетолог и аналитик по воронкам продаж. Твоя задача — проанализировать бриф, заполненный пользователем, чтобы выявить слабые места, недостающую информацию или слишком общие формулировки. На основе этого анализа ты должен сформировать список уточняющих вопросов. Твоя конечная цель — собрать достаточно данных для разработки эффективной маркетинговой стратегии и воронки продаж.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        576
      ],
      "id": "ffd54c3b-6425-4f17-bec0-d896cb94a203",
      "name": "Brief clarification",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.session_state (chat_id, events)\nVALUES (\n    {{ $('TG_CHAT_MESSAGE_RECEIVED').item.json.events[0].payload.messages[0].chat.id }},\n    -- Создаем всю JSON-строку внутри одного выражения n8n\n    $json_payload$\n    {{\n      JSON.stringify($json)\n    }}\n    $json_payload$::jsonb\n)\nON CONFLICT (chat_id) DO UPDATE\nSET\n    events = session_state.events || EXCLUDED.events,\n    updated_at = CURRENT_TIMESTAMP;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        432
      ],
      "id": "e659fc80-db9d-45ae-b4f3-c3d95e81b342",
      "name": "TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_COMPLETED",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "H7wrBOGXpuFXc64X",
          "name": "funnels_state_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.session_state (chat_id, events)\nVALUES (\n    {{ $json.result.chat.id }},\n  ('[ { \"event_type\": \"TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_REQUESTED\", \"payload\": { \"survey_state\":' || '{{ JSON.stringify($('Brief clarification').item.json.output)  }}' || ' } } ]')::jsonb\n)\nON CONFLICT (chat_id) DO UPDATE\nSET events = session_state.events || EXCLUDED.events,\n    updated_at = CURRENT_TIMESTAMP\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        736
      ],
      "id": "4db96be4-3420-48bf-bd51-01643d066395",
      "name": "TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_REQUESTED",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "H7wrBOGXpuFXc64X",
          "name": "funnels_state_db"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e31dbd81-ba1c-4826-ae08-735c76d25d1b",
              "name": "niche.value",
              "value": "={{ $json['В какой нише ваш проект?'] }}",
              "type": "string"
            },
            {
              "id": "new-niche-desc",
              "name": "niche.description",
              "value": "В какой нише ваш проект?",
              "type": "string"
            },
            {
              "id": "c7eb103d-8ec6-4b4c-8914-95ced7907ad4",
              "name": "product.value",
              "value": "={{ $json['Какой у вас продукт?'] }}",
              "type": "string"
            },
            {
              "id": "new-product-desc",
              "name": "product.description",
              "value": "Какой у вас продукт?",
              "type": "string"
            },
            {
              "id": "0c2a5f05-4ded-4957-b139-266b46404e7b",
              "name": "cost.value",
              "value": "={{ $json['Стоимость продукта'] }}",
              "type": "string"
            },
            {
              "id": "new-cost-desc",
              "name": "cost.description",
              "value": "Стоимость продукта",
              "type": "string"
            },
            {
              "id": "0c646abd-f1e9-48a5-b19d-38c47528a958",
              "name": "audience.value",
              "value": "={{ $json['Опишите целевую аудиторию'] }}",
              "type": "string"
            },
            {
              "id": "new-audience-desc",
              "name": "audience.description",
              "value": "Опишите целевую аудиторию",
              "type": "string"
            },
            {
              "id": "ebb85a38-7ea0-48f2-a629-f7c060d7d542",
              "name": "competitors_urls.value",
              "value": "={{ $json['Скиньте ссылки на конкурентов'] }}",
              "type": "string"
            },
            {
              "id": "new-competitors-desc",
              "name": "competitors_urls.description",
              "value": "Скиньте ссылки на конкурентов",
              "type": "string"
            },
            {
              "id": "b9be6640-73c6-4fe3-b7b8-e0fb35c5712d",
              "name": "funnel_okr.value",
              "value": "={{ $json['Какие результаты окупаемости воронки для вас будут оптимальны?'] }}",
              "type": "array"
            },
            {
              "id": "new-funnel-desc",
              "name": "funnel_okr.description",
              "value": "Какие результаты окупаемости воронки для вас будут оптимальны?",
              "type": "string"
            },
            {
              "id": "4b4c96cb-adf2-4f2d-8d8b-a758d7d5a4c1",
              "name": "marketing_budget.value",
              "value": "={{ $json['Какой у вас бюджет на рекламу?'] }}",
              "type": "string"
            },
            {
              "id": "new-budget-desc",
              "name": "marketing_budget.description",
              "value": "Какой у вас бюджет на рекламу?",
              "type": "string"
            },
            {
              "id": "468ede98-878e-4b01-966c-504de88c9887",
              "name": "target_channels.value",
              "value": "={{ $json['В каких каналах планируете трафик?'] }}",
              "type": "string"
            },
            {
              "id": "new-channels-desc",
              "name": "target_channels.description",
              "value": "В каких каналах планируете трафик?",
              "type": "string"
            },
            {
              "id": "3bb2f979-1292-4880-bb3e-1ca405826030",
              "name": "tested_funnels.value",
              "value": "={{ $json['Какие воронки уже тестировали?'] }}",
              "type": "string"
            },
            {
              "id": "new-tested-desc",
              "name": "tested_funnels.description",
              "value": "Какие воронки уже тестировали?",
              "type": "string"
            },
            {
              "id": "d3d1bfcb-7b04-4c49-8a94-4b98ab166e96",
              "name": "webinar_experience.value",
              "value": "={{ $json['Был ли опыт проведения онлайн-вебинаров?'] }}",
              "type": "string"
            },
            {
              "id": "new-webinar-desc",
              "name": "webinar_experience.description",
              "value": "Был ли опыт проведения онлайн-вебинаров?",
              "type": "string"
            },
            {
              "id": "fb4c7fd4-7ec7-483a-a059-8d6164635899",
              "name": "comments.value",
              "value": "={{ $json['Дополнительные комментарии'] }}",
              "type": "string"
            },
            {
              "id": "new-comments-desc",
              "name": "comments.description",
              "value": "Дополнительные комментарии",
              "type": "string"
            },
            {
              "id": "1e69e843-9348-4c63-ad81-d576c959a96c",
              "name": "submitted_at.value",
              "value": "={{ $json.submittedAt }}",
              "type": "string"
            },
            {
              "id": "new-submitted-desc",
              "name": "submitted_at.description",
              "value": "submittedAt",
              "type": "string"
            },
            {
              "id": "a98179c5-dc7a-4c44-b313-c7f2a7b30554",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        656
      ],
      "id": "2c029198-6270-420d-867f-02defe3a7fdf",
      "name": "Answers to json keys"
    },
    {
      "parameters": {
        "jsCode": "let events = $input.all()[0].json.events\n\n// 1. Находим индекс последнего нужного события.\n// Метод findLastIndex ищет с конца массива, что эффективно.\nconst lastBriefFormIndex = events.findLastIndex(item => item.event_type === 'TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED');\n\nvar finalArray = []\n\n// Если такое событие не найдено, возвращаем пустой массив\nif (lastBriefFormIndex !== -1) {\n  finalArray.push(events[lastBriefFormIndex])\n}\n\nconst lastSurveyRequestedIdx = events.findLastIndex(item => item.event_type === 'TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_REQUESTED');\n\nif (lastSurveyRequestedIdx !== -1) {\n  finalArray.push(events[lastSurveyRequestedIdx])\n}\n\n\nlet lastEvent = events.findLast(item => true);\nlet curAns = lastEvent.event_type === \"TG_CHAT_MESSAGE_RECEIVED\" ? lastEvent.payload.messages[0].text : \"еще пока не может быть ответа, т.к. нет опросника\";\nreturn {\n  \"brief_and_survey_events\": finalArray,\n  \"current_suvrey_answer\": curAns,\n  \"chat_id\": $input.all()[0].json.chat_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        336
      ],
      "id": "8e3046d3-9ba4-4055-9f06-fee16bcb9790",
      "name": "EXTRACT briefs and surveys"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\nINSERT INTO public.session_state (chat_id, events)\nVALUES (\n  {{ $json.message.chat.id }},\n  ('[ { \"event_type\": \"TG_CHAT_MESSAGE_RECEIVED\", \"payload\": { \"messages\": [ ' || '{{ JSON.stringify($json.message) }}' || ' ] } } ]')::jsonb\n)\nON CONFLICT (chat_id) DO UPDATE\nSET events = session_state.events || EXCLUDED.events,\n    updated_at = CURRENT_TIMESTAMP;\n\nSELECT events, chat_id FROM public.session_state WHERE chat_id = {{ $json.message.chat.id }};\n\nCOMMIT;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -736,
        208
      ],
      "id": "2727798d-f870-40bf-a669-a40e00c6d66d",
      "name": "TG_CHAT_MESSAGE_RECEIVED",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "H7wrBOGXpuFXc64X",
          "name": "funnels_state_db"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text === \"/reset\" }}",
                    "rightValue": "TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "8132c160-19ce-4e2e-a0b4-0389db893d1f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reset chat"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -960,
        112
      ],
      "id": "7b75931e-c476-4abe-a18c-6606f7c9f385",
      "name": "Command Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n  DELETE FROM public.session_state\n  WHERE session_state.chat_id = {{ $json.message.chat.id }};\n\nSELECT {{ $json.message.chat.id }} as chat_id;\nCOMMIT;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -736,
        16
      ],
      "id": "562c697b-5340-460f-88f3-02b8920dd91c",
      "name": "RESET CHAT",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "H7wrBOGXpuFXc64X",
          "name": "funnels_state_db"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Загрузите информацию о типах воронок",
        "formFields": {
          "values": [
            {
              "fieldLabel": "funnel_types",
              "fieldType": "file",
              "acceptFileTypes": "json",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1184,
        1168
      ],
      "id": "003c074a-dddc-4d3e-bd9c-05af4b19b6ba",
      "name": "On form submission2",
      "webhookId": "8a37fe43-d780-4074-99cd-60e69b244bb7"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Получаем ваш объект с результатами опроса\n\n// Формируем финальную структуру, как JavaScript объект\n\n// Превращаем весь объект в JSON-строку\nreturn {\n    \"event_type\": \"TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_COMPLETED\",\n    \"payload\": {\n        \"survey_state\": $input.item.json.output\n    }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        432
      ],
      "id": "76c29068-e613-456d-95c1-a28c763c23dc",
      "name": "Build survey state"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    event\nFROM (\n    SELECT\n        jsonb_array_elements(events) AS event\n    FROM\n        public.session_state\n    WHERE\n        chat_id = {{ $('brief switch').item.json.chat_id }}\n) AS all_events\nWHERE\n    all_events.event->>'event_type' = 'TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED'\n    OR all_events.event->>'event_type' = 'TG_CHAT_ADDITIONAL_SURVEY_COMPLETED';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        32
      ],
      "id": "5ee0ec25-f911-4bd2-9476-0ad66f778161",
      "name": "GET BRIEF EVENTS",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "H7wrBOGXpuFXc64X",
          "name": "funnels_state_db"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "event",
              "renameField": true,
              "outputFieldName": "event"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2032,
        128
      ],
      "id": "062b2e44-2eaa-41ba-bf43-99b4bbbc5040",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Survey ok message').item.json.result.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2384,
        592
      ],
      "id": "eeabd23a-f621-4aae-8c4f-0c9ea371b874",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "0lNa5njGWb8wLXvC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        288,
        800
      ],
      "id": "3d62c3c6-5d0d-4d12-9e82-e5f890940224",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "0lNa5njGWb8wLXvC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Бриф",
        "formDescription": "Заполните форму, чтобы ИИ проанализировал, какая воронка будет эффективнее зарабатывать вам деньги ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "В какой нише ваш проект?",
              "requiredField": true
            },
            {
              "fieldLabel": "Какой у вас продукт?",
              "requiredField": true
            },
            {
              "fieldLabel": "Стоимость продукта",
              "requiredField": true
            },
            {
              "fieldLabel": "Опишите целевую аудиторию",
              "requiredField": true
            },
            {
              "fieldLabel": "Скиньте ссылки на конкурентов",
              "requiredField": true
            },
            {
              "fieldLabel": "Какие результаты окупаемости воронки для вас будут оптимальны?",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ROAS не менее 100%"
                  },
                  {
                    "option": "ROAS более 100%"
                  },
                  {
                    "option": "ROAS не менее 200%"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Какой у вас бюджет на рекламу?"
            },
            {
              "fieldLabel": "В каких каналах планируете трафик?",
              "requiredField": true
            },
            {
              "fieldLabel": "Какие воронки уже тестировали?",
              "requiredField": true
            },
            {
              "fieldLabel": "Был ли опыт проведения онлайн-вебинаров?",
              "requiredField": true
            },
            {
              "fieldLabel": "Дополнительные комментарии"
            },
            {
              "fieldName": "chat_id",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $query.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1184,
        656
      ],
      "id": "3d760c22-9ec0-4b03-b59b-b3505ed14060",
      "name": "Brief Form",
      "webhookId": "5f8eaf12-5bd2-4bae-b794-8aaf52ddd3f6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n\n  INSERT INTO public.session_state (chat_id, events)\nVALUES (\n    {{ $('TG_CHAT_MESSAGE_RECEIVED').item.json.events[0].payload.messages[0].chat.id }},\n  ('[ { \"event_type\": \"FUNNEL_SELECTED\", \"payload\": { \"funnel_description\":' || '{{ JSON.stringify($json.output)  }}' || ' } } ]')::jsonb\n)\nON CONFLICT (chat_id) DO UPDATE\nSET events = session_state.events || EXCLUDED.events,\n    updated_at = CURRENT_TIMESTAMP;\n\nSELECT\n    events->-1 AS event, -- Получаем последний элемент массива\n    chat_id\nFROM\n    public.session_state\nWHERE\n    chat_id = {{ $('TG_CHAT_MESSAGE_RECEIVED').item.json.events[0].payload.messages[0].chat.id }}\n    AND events->-1->>'event_type' = 'FUNNEL_SELECTED'; -- Проверяем 'event_type' у последнего элемента\n\n  \nCOMMIT;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2880,
        368
      ],
      "id": "52afeb91-9d9a-42da-9de1-11afbd34360b",
      "name": "FUNNEL_SELECTED",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "H7wrBOGXpuFXc64X",
          "name": "funnels_state_db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    event\nFROM (\n    SELECT\n        jsonb_array_elements(events) AS event\n    FROM\n        public.session_state\n    WHERE\n        chat_id = {{ $json.result.chat.id }}\n) AS all_events\nWHERE\n    all_events.event->>'event_type' = 'TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED'\n    OR all_events.event->>'event_type' = 'TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_COMPLETED';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        432
      ],
      "id": "ab33ef46-69d4-42b8-95f0-311dbed5696a",
      "name": "GET BRIEF EVENTS1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "H7wrBOGXpuFXc64X",
          "name": "funnels_state_db"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        800
      ],
      "id": "33f264e5-32a9-43a4-931d-d52289b449be",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "mrmnOe1SW7Qiuamb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2256,
        592
      ],
      "id": "8b6d70c2-1c8f-49df-89ed-eea4fb2ac0d9",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "mrmnOe1SW7Qiuamb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1088,
        960
      ],
      "id": "4fc53639-46a1-46b5-84ca-206eddee5a3a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mrmnOe1SW7Qiuamb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('brief switch').item.json.chat_id }}",
        "text": "=Воронка для вас уже была выбрана!\n\n{{ $json.events.filter(item => item.event_type === \"FUNNEL_SELECTED\").last().payload.funnel_description}}\n\nЕсли хотите начать сначала, введите /reset\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        -112
      ],
      "id": "de7500e5-f866-4035-811f-5b568318d528",
      "name": "Send a text message1",
      "webhookId": "32f82c68-69cd-4c8c-afc4-081c3091736c",
      "credentials": {
        "telegramApi": {
          "id": "gZTs7CzMRiGtPDQZ",
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "История очищена",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        16
      ],
      "id": "153236ca-48fe-4c77-a851-0da15c0551b0",
      "name": "Send a text message2",
      "webhookId": "9e546409-5b0f-47ab-9479-2478fe9ae06f",
      "credentials": {
        "telegramApi": {
          "id": "gZTs7CzMRiGtPDQZ",
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Получаем ваш объект с результатами опроса\n\n// Формируем финальную структуру, как JavaScript объект\n\n// Превращаем весь объект в JSON-строку\nreturn {\n    \"chat_id\":  $json.chat_id,\n    \"event_type\": \"TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED\",\n    \"payload\": {\n        \"brief_content\": $json\n    }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        656
      ],
      "id": "5be1bbaf-931f-4983-9c7d-b320d3101f4b",
      "name": "Build TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Вопросы которые надо задать бери  вот отсюда\n{{ JSON.stringify($json.output.questions_to_ask) }}\n\n",
        "options": {
          "systemMessage": "ТЫ ГОВОРИШЬ ТОЛЬКО ПО РУССКИ\n\nты специалист поддержки в конторе по маркетингу \n\nтебе нужно уточнить информацию по опроснику\nпереведи дополнительные вопросы"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1008,
        736
      ],
      "id": "3302c0e4-e7d6-47dd-8511-83146e5ffcd0",
      "name": "JSON результат Опросника в человеческие вопросы"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Пожалуйста подождите, я анализирую данные по вашему БИЗНЕСУ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        176
      ],
      "id": "9d931832-e168-4769-922e-f6945621eb9c",
      "name": "Notify Thinking of business",
      "webhookId": "22f2ddaa-297d-4aef-9662-aef627d25672",
      "credentials": {
        "telegramApi": {
          "id": "gZTs7CzMRiGtPDQZ",
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.event[0].chat_id }}",
        "text": "=Пожалуйста подождите, я выбираю вам воронку продаж.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2464,
        -48
      ],
      "id": "cad62cb8-3365-4717-871f-b5307cfb363d",
      "name": "Thinking of funnel",
      "webhookId": "bfb1d0d3-f5fa-4062-9a63-ee66bd545bad",
      "credentials": {
        "telegramApi": {
          "id": "gZTs7CzMRiGtPDQZ",
          "name": "Yarik Bot"
        }
      }
    }
  ],
  "connections": {
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "Подбор воронки",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "Answers to json keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_brief_form_link": {
      "main": [
        [
          {
            "node": "TG_CHAT_FUNNELS_BRIEF_FORM_REQUESTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG_MESSAGE_RECEIVED": {
      "main": [
        [
          {
            "node": "Command Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED": {
      "main": [
        [
          {
            "node": "EXTRACT briefs and surveys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Brief clarification",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Survey switch": {
      "main": [
        [
          {
            "node": "GET BRIEF EVENTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EXTRACT briefs and surveys",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EXTRACT briefs and surveys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подбор воронки": {
      "main": [
        [
          {
            "node": "FUNNEL_SELECTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If survey ready": {
      "main": [
        [
          {
            "node": "Build survey state",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JSON результат Опросника в человеческие вопросы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "brief switch": {
      "main": [
        [
          {
            "node": "Survey switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_brief_form_link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Survey ok message": {
      "main": [
        [
          {
            "node": "GET BRIEF EVENTS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос survey": {
      "main": [
        [
          {
            "node": "TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_REQUESTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brief clarification": {
      "main": [
        [
          {
            "node": "If survey ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_COMPLETED": {
      "main": [
        [
          {
            "node": "Survey ok message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answers to json keys": {
      "main": [
        [
          {
            "node": "Build TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRACT briefs and surveys": {
      "main": [
        [
          {
            "node": "Notify Thinking of business",
            "type": "main",
            "index": 0
          },
          {
            "node": "Brief clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG_CHAT_MESSAGE_RECEIVED": {
      "main": [
        [
          {
            "node": "brief switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Switch": {
      "main": [
        [
          {
            "node": "RESET CHAT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG_CHAT_MESSAGE_RECEIVED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESET CHAT": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build survey state": {
      "main": [
        [
          {
            "node": "TG_CHAT_FUNNELS_ADDITIONAL_SURVEY_COMPLETED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET BRIEF EVENTS": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Thinking of funnel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Подбор воронки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Подбор воронки",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Brief clarification",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Brief Form": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUNNEL_SELECTED": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET BRIEF EVENTS1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Brief clarification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Подбор воронки",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "JSON результат Опросника в человеческие вопросы",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED": {
      "main": [
        [
          {
            "node": "TG_CHAT_FUNNELS_BRIEF_FORM_COMPLETED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON результат Опросника в человеческие вопросы": {
      "main": [
        [
          {
            "node": "Запрос survey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Thinking of business": {
      "main": [
        []
      ]
    }
  },
  "pinData": {
    "TG_MESSAGE_RECEIVED": [
      {
        "update_id": 237444611,
        "message": {
          "message_id": 206,
          "from": {
            "id": 212935169,
            "is_bot": false,
            "first_name": "Iaroslav",
            "username": "verse537",
            "language_code": "ru",
            "is_premium": true
          },
          "chat": {
            "id": 212935169,
            "first_name": "Iaroslav",
            "username": "verse537",
            "type": "private"
          },
          "date": 1758212408,
          "text": "Конечно, вот заполненный бриф на основе гипотетического проекта в сфере разработки игр, который может соответствовать вашим интересам.\n\n***\n\nЗдравствуйте! Благодарю за вопросы. Предоставляю подробную информацию о нашем проекте для разработки маркетинговой стратегии.\n\n1.  Стоимость продукта: Мы работаем по модели подписки (SaaS). У нас три основных тарифа:\n    *   Indie: $49/месяц. Включает 1 проект, до 10,000 активных пользователей в месяц (MAU), базовую аналитику производительности и отчеты по сбоям.\n    *   Studio: $249/месяц. Включает до 5 проектов, до 100,000 MAU, расширенную аналитику, интеграцию с Jira и Slack, анализ ассетов.\n    *   Enterprise: от $999/месяц (индивидуальный расчет). Включает неограниченное количество проектов и MAU, выделенного менеджера, кастомные интеграции и доступ к API.\n\n2.  Ниша проекта: Наша ниша — это инструменты для оптимизации и мониторинга производительности мобильных игр на движке Unity. Мы помогаем разработчикам выявлять и устранять \"узкие места\" в производительности, снижать количество сбоев и уменьшать размер билда игры, что напрямую влияет на удержание пользователей и доход.\n\n3.  Описание продукта: Наш продукт — это SaaS-платформа \"PerfOptimizator\". Она интегрируется в игровой проект на Unity через легкий SDK. Платформа в реальном времени собирает данные о производительности (FPS, использование памяти, нагрузка на CPU/GPU) с устройств конечных пользователей.\n    *   Ключевые функции:\n        *   Real-time Performance Monitoring: Дашборды с метриками производительности в разрезе устройств, версий ОС и билдов.\n        *   Crash Reporting: Автоматический сбор и группировка отчетов о сбоях с подробными стектрейсами.\n        *   Asset Analysis: Инструмент, который анализирует ассеты проекта и дает рекомендации по их оптимизации (например, сжатие текстур, оптимизация моделей).\n        *   Build Size Tracker: Отслеживание размера игрового билда и его компонентов для контроля над его ростом.\n\n4.  Целевая аудитория (ЦА):\n    *   Первичная ЦА: Инди-разработчики и небольшие студии (2-15 человек), которые создают мобильные игры на Unity. У них ограниченные ресурсы для ручного тестирования производительности на широком парке устройств.\n    *   Вторичная ЦА: Технические лиды (Technical Leads) и инженеры по производительности (Performance Engineers) в средних и крупных игровых студиях, которые ищут специализированное решение для глубокого анализа и автоматизации мониторинга.\n\n5.  Конкуренты:\n    *   Unity Performance Monitoring (UPM): Прямой конкурент от самого Unity. Наше преимущество: более глубокий анализ и более гибкие тарифы для инди. Ссылка: https://unity.com/solutions/performance-reporting\n    *   GameAnalytics: Предоставляют бесплатную базовую аналитику, включая некоторые метрики производительности. Наше преимущество: фокус именно на глубокой технической оптимизации, а не на продуктовых метриках. Ссылка: https://gameanalytics.com/\n    *   Sentry / Bugsnag: Специализируются на отчетах об ошибках, но их инструментарий для игровой производительности ограничен. Наше преимущество: комплексное решение \"все в одном\" для производительности игр. Ссылка: https://sentry.io/for/gaming/\n\n6.  Опыт проведения вебинаров: Мы провели 2 вебинара для русскоязычной аудитории на тему \"Как найти и исправить просадки FPS в мобильной игре на Unity\".\n    *   Результаты: Суммарно было около 350 регистраций и 150 участников онлайн.\n    *   Конверсия: В регистрацию на триал конвертировалось около 5% участников. Конверсия в платящего клиента после триала составила ~10% от зарегистрировавшихся. Результат считаем скромным, воронку нужно дорабатывать.\n\n7.  Маркетинговый бюджет: Мы готовы выделить $15,000 на первые 3 месяца ($5,000/месяц). Бюджет гибкий и может быть увеличен при достижении целевых показателей CAC (Customer Acquisition Cost).",
          "entities": [
            {
              "offset": 272,
              "length": 19,
              "type": "bold"
            },
            {
              "offset": 366,
              "length": 6,
              "type": "bold"
            },
            {
              "offset": 515,
              "length": 7,
              "type": "bold"
            },
            {
              "offset": 649,
              "length": 11,
              "type": "bold"
            },
            {
              "offset": 816,
              "length": 13,
              "type": "bold"
            },
            {
              "offset": 846,
              "length": 90,
              "type": "bold"
            },
            {
              "offset": 1138,
              "length": 18,
              "type": "bold"
            },
            {
              "offset": 1190,
              "length": 17,
              "type": "bold"
            },
            {
              "offset": 1430,
              "length": 17,
              "type": "bold"
            },
            {
              "offset": 1460,
              "length": 33,
              "type": "bold"
            },
            {
              "offset": 1587,
              "length": 16,
              "type": "bold"
            },
            {
              "offset": 1693,
              "length": 15,
              "type": "bold"
            },
            {
              "offset": 1855,
              "length": 19,
              "type": "bold"
            },
            {
              "offset": 1963,
              "length": 23,
              "type": "bold"
            },
            {
              "offset": 1995,
              "length": 13,
              "type": "bold"
            },
            {
              "offset": 2009,
              "length": 51,
              "type": "bold"
            },
            {
              "offset": 2210,
              "length": 13,
              "type": "bold"
            },
            {
              "offset": 2224,
              "length": 91,
              "type": "bold"
            },
            {
              "offset": 2449,
              "length": 11,
              "type": "bold"
            },
            {
              "offset": 2469,
              "length": 35,
              "type": "bold"
            },
            {
              "offset": 2620,
              "length": 49,
              "type": "code"
            },
            {
              "offset": 2678,
              "length": 14,
              "type": "bold"
            },
            {
              "offset": 2890,
              "length": 26,
              "type": "code"
            },
            {
              "offset": 2925,
              "length": 17,
              "type": "bold"
            },
            {
              "offset": 3135,
              "length": 29,
              "type": "code"
            },
            {
              "offset": 3170,
              "length": 26,
              "type": "bold"
            },
            {
              "offset": 3327,
              "length": 11,
              "type": "bold"
            },
            {
              "offset": 3408,
              "length": 10,
              "type": "bold"
            },
            {
              "offset": 3624,
              "length": 21,
              "type": "bold"
            },
            {
              "offset": 3665,
              "length": 26,
              "type": "bold"
            }
          ]
        }
      }
    ],
    "Brief Form": [
      {
        "В какой нише ваш проект?": "йцуа",
        "Какой у вас продукт?": "йцуа",
        "Стоимость продукта": "йцуа",
        "Опишите целевую аудиторию": "йцуа",
        "Скиньте ссылки на конкурентов": "йцуа",
        "Какие результаты окупаемости воронки для вас будут оптимальны?": [
          "ROAS не менее 100%"
        ],
        "Какой у вас бюджет на рекламу?": "йцуа",
        "В каких каналах планируете трафик?": "йцуа",
        "Какие воронки уже тестировали?": "йцуа",
        "Был ли опыт проведения онлайн-вебинаров?": "йцуа",
        "Дополнительные комментарии": "йцуа",
        "chat_id": "212935169",
        "submittedAt": "2025-09-18T11:54:59.091-04:00",
        "formMode": "production",
        "formQueryParameters": {
          "chat_id": "212935169"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d19e1b26c0b8d95659d042a7491aa0358608320cfa3f09b4a3a78387d58037a3"
  }
}